nav {
  color: #fff;  
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(35, 59, 79);
  background: linear-gradient(
    90deg,
    rgba(35, 59, 79, 1) 0%,
    rgba(37, 103, 152, 1) 50%,
    rgba(35, 59, 79, 1) 100%
  );
}

.logo {
  color: white; /* Color del texto */
  font-size: 24px; /* Tamaño del texto */
  display: flex; /* Para alinear la imagen y el texto horizontalmente */
  align-items: center; /* Centra verticalmente la imagen y el texto */
}

.logo-img {
  width: 10%; /* Ajusta el tamaño de la imagen */
  height: 10%;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  filter: drop-shadow(
    4px 4px 15px rgba(0, 0, 0, 0.5)
  ); /* Sombra que sigue la forma del PNG */
}

.logo h1{
    font-size: 120%;
}

header {
  position: relative; /* Asegura que el z-index funcione */
  background: url("../assets/420608866_3746419558960957_7281320004850299379_n.jpg")
    no-repeat center center;
  background-size: cover;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; /* El contenido del header está por encima del pseudo-elemento */
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Superposición negra semitransparente */
  z-index: 0; /* Coloca la superposición detrás del contenido del header */
}

header h2,
header p {
  position: relative; /* Asegura que el texto esté por encima de la superposición */
  z-index: 2; /* El texto se coloca por encima del pseudo-elemento */
}

header h2 {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 2px #000, 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header p {
  color: white;
  text-shadow: 1px 1px 2px #000000, 2px 2px 5px rgba(0, 0, 0, 0.5);
}
