
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.publish-logined {
  border-radius: 20px;
}

.publish-logined form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Título del formulario */
.publish-logined h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo de las etiquetas */
.publish-logined label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

/* Estilo de los campos de entrada */
.publish-logined input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para el campo de archivo */
.publish-logined input[type="file"] {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Estilo del botón de envío */
.publish-logined input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publish-logined input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilo para cuando el campo de entrada está en foco */
.publish-logined input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="file"]:focus {
  border-color: #4caf50;
  outline: none;
}

/* Estilo para la caja de texto (textarea) */
.publish-logined textarea {
  resize: vertical;
  min-height: 100px;
}

/* Responsividad */
@media (max-width: 500px) {
  form {
    padding: 15px;
  }

  input[type="submit"] {
    font-size: 16px;
  }
}

footer {
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 20px;
  background: rgb(35,59,79);
  background: linear-gradient(90deg, rgba(35,59,79,1) 0%, rgba(37,103,152,1) 50%, rgba(35,59,79,1) 100%); 
}
